USE [master]
GO
/****** Object:  Database [ticketmaster]    Script Date: 28/08/2017 09:47:59 p.m. ******/
CREATE DATABASE [ticketmaster]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ticketmaster].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ticketmaster]
GO
/****** Object:  User [Mate_13-PC\Mate_13]    Script Date: 28/08/2017 09:47:59 p.m. ******/
CREATE USER [Mate_13-PC\Mate_13] FOR LOGIN [Mate_13-PC\Mate_13] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Table_1]    Script Date: 28/08/2017 09:47:59 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_1](
	[Columna] [nchar](10) NULL,
	[Jelou] [nchar](10) NULL
) ON [PRIMARY]

GO
USE [master]
GO
