USE [master]
GO
/****** Object:  Database [Laboratorio 3]    Script Date: 18/09/2017 09:22:55 p.m. ******/
CREATE DATABASE [Laboratorio 3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Practica3_database', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Practica3_database.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Practica3_database_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Practica3_database_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Laboratorio 3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Laboratorio 3]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 18/09/2017 09:22:55 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Departamento](
	[numDepartamento] [int] NOT NULL,
	[nombre] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[numDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DepartamentoLugar]    Script Date: 18/09/2017 09:22:55 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartamentoLugar](
	[FKnumDepartamento] [int] NOT NULL,
	[lugar] [int] NOT NULL,
 CONSTRAINT [PKdepartamentoLugar] PRIMARY KEY CLUSTERED 
(
	[FKnumDepartamento] ASC,
	[lugar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 18/09/2017 09:22:55 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Empleado](
	[nss] [varchar](10) NOT NULL,
	[nombre] [varchar](40) NULL,
	[sexo] [int] NULL,
	[direccion] [varchar](max) NULL,
	[fechaNacimiemto] [date] NULL,
	[salario] [money] NULL,
	[FKnumDepartamento] [int] NULL,
	[FKnssSupervisor] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[nss] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EmpleadoDepartamento]    Script Date: 18/09/2017 09:22:55 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmpleadoDepartamento](
	[numProyecto] [int] NOT NULL,
	[nssEmpleado] [varchar](10) NOT NULL,
	[fechaInicio] [date] NULL,
 CONSTRAINT [PKempleadoDepartamento] PRIMARY KEY CLUSTERED 
(
	[numProyecto] ASC,
	[nssEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Proyecto]    Script Date: 18/09/2017 09:22:55 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Proyecto](
	[numProyecto] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[lugar] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[numProyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[DepartamentoLugar]  WITH CHECK ADD FOREIGN KEY([FKnumDepartamento])
REFERENCES [dbo].[Departamento] ([numDepartamento])
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD FOREIGN KEY([FKnssSupervisor])
REFERENCES [dbo].[Empleado] ([nss])
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD FOREIGN KEY([FKnumDepartamento])
REFERENCES [dbo].[Departamento] ([numDepartamento])
GO
ALTER TABLE [dbo].[EmpleadoDepartamento]  WITH CHECK ADD FOREIGN KEY([nssEmpleado])
REFERENCES [dbo].[Empleado] ([nss])
GO
ALTER TABLE [dbo].[EmpleadoDepartamento]  WITH CHECK ADD FOREIGN KEY([numProyecto])
REFERENCES [dbo].[Proyecto] ([numProyecto])
GO
USE [master]
GO
